    
* {
    font-family: sans-serif;
    border-radius: 0.5rem;
    border: 0;
}
p {
    font-size: 1.3rem;
}

#survey-form {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45rem;
    margin: auto;
    border-radius: 0.7rem;
    padding: 2rem;
    
}

textarea {
    width: 100%;
}
#header-container {
    text-align: center;
}

.form-fieldset {


}

.radio-label {
    display: block;
    margin-top: 0.3rem;
}
.checkbox-label {
    display: block;
    margin-top: 0.3rem;
}


input::placeholder , select {
    font-size: 1rem;
    color: lightgray;
    padding-left: 0.5rem;
}
.info-field {
    width: 100%;
    min-height: 2.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;   
}

footer {
    display: flex;
    justify-content: center;
}
#submit-button { 
    width: 10rem;
    height: 2rem;
    background-color: lightgreen;
    color: white
}